<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
  table {
        
            width: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
            text-align: center;
            background-color: #b7d3c9;
        }
.btn {
  background-color: DodgerBlue;
  border: none;
  border-radius: 20%;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

input[type=text], select {
  width: 20%;
  justify-content: center;
  text-align: center;
  padding: 12px 20px;
  
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px !important;
}

input[type=submit] {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label {
  font-size: 22px !important;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8
}

#customers tr:nth-child(even) {background-color: #f2f2f2;}
#customers tr {
  transition: all 0.3s ;
}
#customers tr:hover {background-color: #abd3b8; color: #1d1c1c;  font-size: 1.1em;  }

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center !important;
  background-color: #04AA6D;
  color: white;
}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>



<body  >
<div class="container   ">
    <%- include('./component/nave.ejs') %>
    

  <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;  margin: 0;">
    
  
      <h5>Totall :  <%= students.length %> users</h5>
    
      <table class="" id="customers">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
        <%  students.forEach(student => {    %>
        <tr>
          <td><%= student.fname %></td>
          <td><%= student.lname %></td>
          <td><%= student.age %></td>
          <td><%= student.address %></td>
          <td>
            <button title="delete the user" class="btn"><a href='/edituser/<%= student.id %>'><i class="fa fa-trash"></i></a></button>
            <button title="edit the user" class="btn"><a href='/edituser/<%= student.id %>'><i class="fa fa-edit"></i></a></button>
            <button title="view the user" class="btn">
              <a href='/showuser/<%= student.id %>'><i class="fa fa-eye"></i></a>
            </button>
          </td>
        </tr>
        <% }) %>
      </table>
  </div>
</div>
</body>
</html>
