<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            width: 100%;
        }

  
</style>
<title>user</title>
</head>
<body>

   
  
       
    
  <div class="container">
    <%- include('./component/nave.ejs',{currentPage:"user"}) %>
   </div>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
 
  <div  style="display: flex; justify-content: space-around;  align-items: self-start; background-color: #04AA6D; width: 50%;" > 
 
    <span> ID:<%= student.id %></span>
    <br>
  
    <span>  <%= student.fname %>  <%= student.lname %> </span>
  </div>
 <br>
  <table    id="customers">
    <tr>
     
  
  
    </tr>
    <tr>
        <th>Name</th>
      <td><%= student.fname %></td>
  
  
    </tr>
    <tr>
     <th>Last Name</th>
  
      <td> <%= student.lname %></td>
  
    </tr>
    <tr>
     <th>Age</th>
  
   
      <td> <%= student.age %></td>
    </tr>
      <tr>
     <th>Address</th>
  
  
      <td> <%= student.address %></td>
    </tr>
  
   
  </table>
</div>

</body>
</html>


